html,body,#dv {
    width:100%;
    height:100%;
}

body {
    margin: auto;
    font-family: 'Avenir', sans-serif; 
    color: #fff;
    background-color: #444654;    
}

img, form, input, label {
    margin: auto;
    display: block;
}

img {
    margin-top: 1em;
}

input {
    align-items: center;
    border-color: transparent;
    border-radius: .25rem;
    border-width: 1px;
    display: inline-flex;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem .75rem;
    pointer-events: auto;
    margin: auto;
    display: block;
    margin-top: 1em;
}

.content{
    margin-top: 5em;
}

.btn {
    color : #fff;
    background-color: #10A37F;
}