<!DOCTYPE html>
<html>
<head>
	<title>Qrcode generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <form method="post" action="/generate_qr">
            <input type="text" id="id_text" name="data" placeholder="Text to convert...">
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
    <div class="qrcode">
        <img src="{{ qrcode }}" alt="QrCode" onerror="this.style.display='none'">
    </div>
</body>
</html>